<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificador</title>
</head>

<body>
    <h1>Datos del Verificador</h1>
    <p><strong>Direccion del contrato:</strong> {{verificador.dir_contrato}} </p>
    <p><strong>Credencial recibida:</strong> {{verificador.credencial}} </p>
    <p><strong>Hash de la credencial recibida:</strong> {{verificador.hash_credencial}} </p>
    <p><strong>Hash leído de la Blockchain:</strong> {{verificador.hash_blockchain}} </p>
</body>

</html>