<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emisor</title>
</head>

<body>
    <h1>Datos del Emisor</h1>
    <p><strong>DID:</strong> {{emisor.did}} </p>
    <p><strong>Credencial creada:</strong> {{emisor.credencial}} </p>
    <p><strong>Direccion del contrato desplegado:</strong> {{emisor.dir_contrato}} </p>
    <p><strong>Recibo del registro de la credencial:</strong> {{emisor.tx_recibo}} </p>
    <p><strong>Hash de la credencial generada:</strong> {{emisor.hash_credencial}} </p>
    <p><strong>Hash guardado en la Blockchain:</strong> {{emisor.hash_blockchain}} </p>
</body>

</html>